﻿a
{
  text-decoration: underline;
}

@font-face
{
  font-family: Garamond;
  src: url(../fonts/grn47_.ttf);
}

body
{
  background-color: #9c9993;
  background-image: url("../img/body-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: Georgia, "Times New Roman", Times;
}

.carousel .item > img
{
  margin: 0 auto;
}

.carousel p
{
  text-indent: 0 !important;
  font-size: 10pt !important;
  font-weight: normal;
  font-family: Arial, Verdana;
}

.carousel a
{
  color: #ffffff;
}

.exhibition-title
{
  color: #ffffff;
  margin-top: 20px;
  text-align: center;
}

.exhibition-title h1
{
  font-size: 48pt;
  font-family: Garamond;
  margin-bottom: 10pt !important;
}

.exhibition-title h2
{
  font-size: 14pt;
  line-height: 18pt;
}

.exhibition-title h1,
.exhibition-title h2,
.exhibition-title p
{
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.exhibition-title a
{
  color: #ffffff;
  text-decoration: none;
}

.part-container
{
  background-image: url("../img/container-bg.png");
  margin-top: 40px;
  padding: 30px;
  text-align: justify;
}

.part-container p
{
  font-size: 16pt;
  text-indent: 15pt;
}

.portrait
{
  text-align: center;
  margin-bottom: 20px;
}

.portrait a
{
  color: #272e61;
}


.start-button
{
  text-align: center;
}



.link-dashed
{
  text-decoration: none;
  border-bottom: 1px dashed;
}

.link-dashed:hover
{
  text-decoration: none;
}